workflows/spotify/Spotify Syncer v3.json
{
  "name": "Spotify Syncer v3",
  "nodes": [
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "id"
            }
          ]
        },
        "resolve": "preferInput1",
        "options": {
          "disableDotNotation": true,
          "multipleMatches": "first"
        }
      },
      "id": "2c891e6e-db07-4c64-9ed9-665bed2cb0fb",
      "name": "Compare the two Datasets",
      "type": "n8n-nodes-base.compareDatasets",
      "position": [
        2656,
        112
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "content": "## Obtém todas as playlists do usuário\nExceto as que o usuário não criou",
        "height": 340,
        "width": 540,
        "color": 5
      },
      "id": "be11e7aa-b4b2-4f37-9689-ef703fc1fde8",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        -48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "playlist",
        "operation": "getUserPlaylists",
        "returnAll": true
      },
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        768,
        96
      ],
      "id": "22a4d24c-e04e-4c3a-a9b9-579ce56586bf",
      "name": "Get a user's playlists",
      "alwaysOutputData": false,
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "McmF6suUUb2xY8Re",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "13529da9-7472-4cfa-b14a-e384d4fd814d",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "a504cbd4-2294-4aad-a3ca-ae24a7a8e7f6",
              "name": "href",
              "value": "={{ $json.href }}",
              "type": "string"
            },
            {
              "id": "28717e74-f353-4156-91a8-e00772aacfac",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "fb345f24-e411-47d1-9a91-17f7e6343a6f",
              "name": "owner.id",
              "value": "={{ $json.owner.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5b99cbd5-a9e1-4908-bb96-24f044a9170f",
      "name": "Extract user owned playlists",
      "type": "n8n-nodes-base.set",
      "position": [
        944,
        96
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e24a34f8-2222-4926-b0fe-56344f2e35e4",
              "leftValue": "={{ $json.owner.id }}",
              "rightValue": "eduardo9cruz-br",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "a4b781f7-5921-431f-8841-6aa445a19279",
              "leftValue": "={{ $json.id }}",
              "rightValue": "3vfDCGaXYBMdQf2p112arJ",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "ee19f386-8f20-4ba6-a775-12942dc46f54",
              "leftValue": "={{ $json.id }}",
              "rightValue": "fewafewf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1120,
        96
      ],
      "id": "d86d64ee-9bd2-4011-abef-539fe622d5a6",
      "name": "Fetch only user-as-owner playlists"
    },
    {
      "parameters": {
        "resource": "playlist",
        "operation": "getTracks",
        "id": "3vfDCGaXYBMdQf2p112arJ",
        "returnAll": true
      },
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        1264,
        528
      ],
      "id": "c3456fe7-3ac5-4d25-8e3c-1fe9a07005b0",
      "name": "Get Roleta Russa playlist's tracks by URI or ID",
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "McmF6suUUb2xY8Re",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1360,
        96
      ],
      "id": "d1b6cc40-59e4-4ebc-b09e-aeeaa025fc0d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "957f3752-9c22-4112-a26b-279bae28d426",
              "name": "id",
              "value": "={{ $json.track.uri }}",
              "type": "string"
            },
            {
              "id": "7a12b849-d56e-443f-b38c-ae382fc04b01",
              "name": "name",
              "value": "={{ $json.track.name }}",
              "type": "string"
            },
            {
              "id": "c3bdcff1-af0d-4c62-9410-16e93f354cca",
              "name": "album",
              "value": "={{ $json.track.album.name }}",
              "type": "string"
            },
            {
              "id": "e6e5796d-3382-41e4-8705-4be42ec80b2f",
              "name": "artists",
              "value": "={{ $json.track.artists }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1472,
        528
      ],
      "id": "4299137c-3666-49d0-9162-2f70eea2623e",
      "name": "Extract Track ID"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0fec9175-c997-4214-821e-94d840fd1547",
              "name": "track.id",
              "value": "={{ $json.track.uri }}",
              "type": "string"
            },
            {
              "id": "8781bc6e-b620-4fdb-986e-fd576b932d06",
              "name": "track.name",
              "value": "={{ $json.track.name }}",
              "type": "string"
            },
            {
              "id": "1e957dc1-3bce-4fcd-a511-1a83d609d713",
              "name": "track.artists[0].name",
              "value": "={{ $json.track.artists[0].name }}",
              "type": "string"
            },
            {
              "id": "24fce01e-6ce8-499e-8844-5a77698eab20",
              "name": "track.album.name",
              "value": "={{ $json.track.album.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1792,
        112
      ],
      "id": "95075ae5-c0e9-49e1-a068-f65e305c2447",
      "name": "Extract Track ID1"
    },
    {
      "parameters": {
        "chatId": "1226319359",
        "text": "=Adicionadas {{ $('Compare the two Datasets').all().length }} tracks",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3296,
        -288
      ],
      "id": "dffe7334-820c-4796-a05e-00e1391cdeaa",
      "name": "Send a text message",
      "webhookId": "31b36991-42f7-46a8-b3ec-5f3e9de2a92b",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "ZkFlWyDupkhZdr1q",
          "name": "Telegram Spotify"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 100,
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2912,
        608
      ],
      "id": "3f209006-ced2-4196-bf5a-164dd0639444",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "chatId": "1226319359",
        "text": "=Removidas {{ $('Compare the two Datasets').all().length }} tracks",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3280,
        592
      ],
      "id": "8f160bb0-8cc4-419b-9f1f-2d557180d4f7",
      "name": "Send a text message1",
      "webhookId": "30432e5e-9544-4dd0-adbc-53ff3c95c027",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "ZkFlWyDupkhZdr1q",
          "name": "Telegram Spotify"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        288,
        96
      ],
      "id": "5790bbbb-ff9e-47de-8f93-f6db43445fa2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "id",
        "options": {
          "disableDotNotation": true
        }
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        2272,
        32
      ],
      "id": "6b8c0a35-526a-45dc-a4c6-c2ed54900247",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1872,
        -176
      ],
      "id": "505d9cb6-9f36-4a55-85f2-8de392925d71",
      "name": "Merge"
    },
    {
      "parameters": {
        "resource": "playlist",
        "operation": "getTracks",
        "id": "={{ $json.id }}",
        "returnAll": true
      },
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        1584,
        112
      ],
      "id": "54f34553-119f-47a5-99dc-27c15a74da6f",
      "name": "Get a playlist's tracks by URI or ID",
      "alwaysOutputData": true,
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "McmF6suUUb2xY8Re",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "resource": "library",
        "returnAll": true
      },
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        1520,
        -272
      ],
      "id": "a06fcd6c-43c2-4d10-b5fd-f549306bcb2c",
      "name": "Get liked tracks1",
      "executeOnce": true,
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "McmF6suUUb2xY8Re",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0fec9175-c997-4214-821e-94d840fd1547",
              "name": "track.id",
              "value": "={{ $json.track.uri }}",
              "type": "string"
            },
            {
              "id": "8781bc6e-b620-4fdb-986e-fd576b932d06",
              "name": "track.name",
              "value": "={{ $json.track.name }}",
              "type": "string"
            },
            {
              "id": "1e957dc1-3bce-4fcd-a511-1a83d609d713",
              "name": "track.artists[0].name",
              "value": "={{ $json.track.artists[0].name }}",
              "type": "string"
            },
            {
              "id": "24fce01e-6ce8-499e-8844-5a77698eab20",
              "name": "track.album.name",
              "value": "={{ $json.track.album.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        -272
      ],
      "id": "c2b5af2a-7bff-4667-9b2a-b64f47da4d8a",
      "name": "Extract Track ID2"
    },
    {
      "parameters": {
        "batchSize": 100,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2912,
        -272
      ],
      "id": "3fdfdaba-ef8b-41fb-add0-e8bcaff9a777",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "https://api.spotify.com/v1/playlists/3vfDCGaXYBMdQf2p112arJ/tracks",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "spotifyOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { tracks: $('Loop Over Items2').all().map(item => ({ uri: item.json.id })) } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3104,
        720
      ],
      "id": "319478fc-da33-4451-836a-b53eb549023e",
      "name": "Delete tracks from Roleta Russa",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "McmF6suUUb2xY8Re",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.spotify.com/v1/playlists/3vfDCGaXYBMdQf2p112arJ/tracks",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "spotifyOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "uris",
              "value": "={{ $('Loop Over Items1').all().map(item => item.json.id) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3088,
        -144
      ],
      "id": "74b7e718-17c1-432e-af57-13a11d0a95bf",
      "name": "Add tracks to Roleta Russa",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "McmF6suUUb2xY8Re",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "94678f05-0f05-4e0a-9df6-2f5dfc6548b1",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "5fa3e940-eec1-44d1-bebb-c7f3dcbc415f",
              "leftValue": "={{ $json.id }}",
              "rightValue": "spotify:track:",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2432,
        32
      ],
      "id": "601ae436-3609-4eca-a1a5-3471f62380e1",
      "name": "Filter"
    },
    {
      "parameters": {
        "content": "## Loop para extrair todas as músicas\nAqui as músicas das playlists do usuário são obtidas e unidas em uma grande lista",
        "height": 336,
        "width": 672
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1296,
        0
      ],
      "typeVersion": 1,
      "id": "d26e5760-1d85-486b-bbaa-da8a12b511a5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Músicas curtidas\nTambém são adicionadas as músicas que o usuário adicionou como \"Curtidas\" (playlist especial)",
        "height": 336,
        "width": 592,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1440,
        -384
      ],
      "typeVersion": 1,
      "id": "7451c984-bda4-4947-b303-0945666cddfe",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Extraindo as músicas que já estão na Roleta Russa\nEssa é a grande playlist com todas as músicas de todas as outras playlists",
        "height": 304,
        "width": 592,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1120,
        416
      ],
      "typeVersion": 1,
      "id": "0a8d6d50-4579-41f2-b0c2-84d056000a7e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "### Remoção de valores duplicados/nulos",
        "height": 192,
        "width": 512,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2064,
        -16
      ],
      "typeVersion": 1,
      "id": "9732cdf9-a20d-4aac-8c78-0d5a92322b53",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Adicionando músicas à Roleta Russa\nAqui estão as tracks que estão nas playlists de nicho, mas que não estão na Roleta Russa. Estamos fazendo uma request pura para juntar no body batches de 100 em 100 músicas por request e acelerar o processo de adição sem acionar rate-limits na API do Spotify",
        "height": 528,
        "width": 624,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2832,
        -448
      ],
      "typeVersion": 1,
      "id": "24a8d1d3-dfe4-4782-ba32-94ef2e1b1410",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Removendo músicas da Roleta Russa\nAqui estão as tracks que NÃO estão mais nas playlists de nicho, mas que ainda estão na Roleta Russa. Também removemos em batches de 100 músicas",
        "height": 480,
        "width": 624,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2832,
        464
      ],
      "typeVersion": 1,
      "id": "f3c952a1-7fdb-45a7-b588-b13d9addddc1",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "chatId": "1226319359",
        "text": "=*Spotify Sync*\n\nComeçando sincronização diária com a playlist:\n\n_Russian Roulette Revolution 🧶_",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        752,
        -272
      ],
      "id": "a5edddd7-6707-42da-99c4-6f695bb7ff4c",
      "name": "Enviar mensagem de início de workflow",
      "webhookId": "6cf17ceb-fdca-451c-9395-1b0c23c81af3",
      "executeOnce": false,
      "credentials": {
        "telegramApi": {
          "id": "ZkFlWyDupkhZdr1q",
          "name": "Telegram Spotify"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "1226319359",
        "message": "=Tem certeza de que deseja remover {{ $('Compare the two Datasets').all().length }} tracks?",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "✅ Sim",
            "disapproveLabel": "❌ Não"
          }
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3248,
        208
      ],
      "id": "818b606a-896a-4c13-aed6-e6f65472fd01",
      "name": "Send message and wait for response",
      "webhookId": "cb1d6811-987d-42fc-9335-a087dad346e8",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "ZkFlWyDupkhZdr1q",
          "name": "Telegram Spotify"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e93cbde8-3de6-41ee-bbd9-bb1f945f7d84",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3456,
        208
      ],
      "id": "56f9a16e-aea4-46cb-afe4-014566626e91",
      "name": "If",
      "executeOnce": true
    },
    {
      "parameters": {
        "chatId": "1226319359",
        "text": "=Removendo {{ $('Compare the two Datasets').all().length }} tracks",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3696,
        96
      ],
      "id": "bbaf1042-5ce5-48f1-abab-0f8b4742965b",
      "name": "Send a text message2",
      "webhookId": "31b36991-42f7-46a8-b3ec-5f3e9de2a92b",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "ZkFlWyDupkhZdr1q",
          "name": "Telegram Spotify"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "Acho que eu não deveria apagar tantas tracks assim, da uma olhada no que aconteceu"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        3696,
        304
      ],
      "id": "f8e5ef40-9c9b-4325-8abf-d6b64880265e",
      "name": "Stop and Error",
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6c539517-69df-4128-9913-ff5ac1c24beb",
              "leftValue": "={{ $('Compare the two Datasets').all().length }}",
              "rightValue": 30,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3024,
        144
      ],
      "id": "65e3bf48-d63e-4eb4-8c09-cf904025ab5d",
      "name": "If1",
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "55de67dd-f148-4448-9721-b147e0f34d44",
              "name": "id",
              "value": "={{ $json.track.id }}",
              "type": "string"
            },
            {
              "id": "17699d97-515a-4578-893d-52e9ecbfb63b",
              "name": "name",
              "value": "={{ $json.track.name }}",
              "type": "string"
            },
            {
              "id": "46ffb969-063e-4cb1-856c-af2eadb38109",
              "name": "album",
              "value": "={{ $json.track.album.name }}",
              "type": "string"
            },
            {
              "id": "8e02e00d-f96d-400c-a605-19e7710f553c",
              "name": "artists",
              "value": "={{ $json.track.artists }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2112,
        32
      ],
      "id": "c5efe741-6497-46da-8e00-784764af1fa8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "## TODO\nTirar filtro daqui pra pegar todas playlists"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1072,
        16
      ],
      "typeVersion": 1,
      "id": "79234bde-98cd-4b69-9af8-79529fc87ac2",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "amount": 67
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3280,
        736
      ],
      "id": "7c225b25-ceed-426a-86e1-852dc709e909",
      "name": "Wait",
      "webhookId": "3231bbcf-aedc-475d-8ccd-dfcec044c0a6"
    },
    {
      "parameters": {
        "amount": 67
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3296,
        -144
      ],
      "id": "e489b155-fe33-4357-8ac2-d3c8f55c23bd",
      "name": "Wait1",
      "webhookId": "f1733dd8-214c-4296-af99-26e14a3c178c"
    }
  ],
  "pinData": {},
  "connections": {
    "Compare the two Datasets": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a user's playlists": {
      "main": [
        [
          {
            "node": "Extract user owned playlists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract user owned playlists": {
      "main": [
        [
          {
            "node": "Fetch only user-as-owner playlists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch only user-as-owner playlists": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Roleta Russa playlist's tracks by URI or ID": {
      "main": [
        [
          {
            "node": "Extract Track ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Get liked tracks1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Get a playlist's tracks by URI or ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Track ID": {
      "main": [
        [
          {
            "node": "Compare the two Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract Track ID1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete tracks from Roleta Russa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Enviar mensagem de início de workflow",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get a user's playlists",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Roleta Russa playlist's tracks by URI or ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a playlist's tracks by URI or ID": {
      "main": [
        [
          {
            "node": "Extract Track ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get liked tracks1": {
      "main": [
        [
          {
            "node": "Extract Track ID2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Track ID2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add tracks to Roleta Russa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete tracks from Roleta Russa": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add tracks to Roleta Russa": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Compare the two Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar mensagem de início de workflow": {
      "main": [
        []
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "pftiJxONmWBep93h"
  },
  "versionId": "e915556e-fd41-4044-b1af-17037c8e7115",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "56b4efc0d82a0fdc124a46951e101f2095a712c52ab1c1cc5592a872f7ea17dd"
  },
  "id": "lxcnhyYJECBvI4gq",
  "tags": []
}