workflows/spotify/Spotify Syncer v3.json
{
  "name": "Spotify Syncer v3",
  "nodes": [
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "id"
            }
          ]
        },
        "resolve": "preferInput1",
        "options": {
          "disableDotNotation": true,
          "multipleMatches": "first"
        }
      },
      "id": "bc2416cc-b5b7-422a-b946-98737a055748",
      "name": "Compare the two Datasets",
      "type": "n8n-nodes-base.compareDatasets",
      "position": [
        32,
        560
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "content": "## Obtém todas as playlists do usuário\nExceto as que o usuário não criou",
        "height": 340,
        "width": 540,
        "color": 5
      },
      "id": "59858c57-762d-4945-9d49-f4743aa3010f",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2112,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "playlist",
        "operation": "getUserPlaylists",
        "returnAll": true
      },
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        -2064,
        544
      ],
      "id": "c3c7c8e1-7618-41ad-9c59-960381bd0048",
      "name": "Get a user's playlists",
      "alwaysOutputData": false,
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "aBVcQt43eIWG3ux4",
          "name": "Spotify Opus dashboard"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "13529da9-7472-4cfa-b14a-e384d4fd814d",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "a504cbd4-2294-4aad-a3ca-ae24a7a8e7f6",
              "name": "href",
              "value": "={{ $json.href }}",
              "type": "string"
            },
            {
              "id": "28717e74-f353-4156-91a8-e00772aacfac",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "fb345f24-e411-47d1-9a91-17f7e6343a6f",
              "name": "owner.id",
              "value": "={{ $json.owner.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8e80b530-740b-4330-8337-278cac0ffafa",
      "name": "Extract user owned playlists",
      "type": "n8n-nodes-base.set",
      "position": [
        -1888,
        544
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e24a34f8-2222-4926-b0fe-56344f2e35e4",
              "leftValue": "={{ $json.owner.id }}",
              "rightValue": "31bx643axpef4x2mwoijfnjuid3y",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "a4b781f7-5921-431f-8841-6aa445a19279",
              "leftValue": "={{ $json.id }}",
              "rightValue": "2PNnDnyjkpFMCqW7qelgGz",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1712,
        544
      ],
      "id": "b237b403-fc7b-4a5a-8ddf-8180a22ad16b",
      "name": "Fetch only user-as-owner playlists"
    },
    {
      "parameters": {
        "resource": "playlist",
        "operation": "getTracks",
        "id": "2PNnDnyjkpFMCqW7qelgGz",
        "returnAll": true
      },
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        -1680,
        976
      ],
      "id": "71abe081-75b6-4c2a-b015-d5324bf0b096",
      "name": "Get Roleta Russa playlist's tracks by URI or ID",
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "aBVcQt43eIWG3ux4",
          "name": "Spotify Opus dashboard"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1472,
        544
      ],
      "id": "2645c7a5-1eee-4140-b0b5-de53f66feb9c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "957f3752-9c22-4112-a26b-279bae28d426",
              "name": "id",
              "value": "={{ $json.track.uri }}",
              "type": "string"
            },
            {
              "id": "7a12b849-d56e-443f-b38c-ae382fc04b01",
              "name": "name",
              "value": "={{ $json.track.name }}",
              "type": "string"
            },
            {
              "id": "c3bdcff1-af0d-4c62-9410-16e93f354cca",
              "name": "album",
              "value": "={{ $json.track.album.name }}",
              "type": "string"
            },
            {
              "id": "e6e5796d-3382-41e4-8705-4be42ec80b2f",
              "name": "artists",
              "value": "={{ $json.track.artists }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1472,
        976
      ],
      "id": "7cd09993-e03d-4f0a-a944-e027f7ee0384",
      "name": "Extract Track ID"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0fec9175-c997-4214-821e-94d840fd1547",
              "name": "track.id",
              "value": "={{ $json.track.uri }}",
              "type": "string"
            },
            {
              "id": "8781bc6e-b620-4fdb-986e-fd576b932d06",
              "name": "track.name",
              "value": "={{ $json.track.name }}",
              "type": "string"
            },
            {
              "id": "24fce01e-6ce8-499e-8844-5a77698eab20",
              "name": "track.album.name",
              "value": "={{ $json.track.album.name }}",
              "type": "string"
            },
            {
              "id": "1e957dc1-3bce-4fcd-a511-1a83d609d713",
              "name": "track.artists",
              "value": "={{ $json.track.artists }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1040,
        560
      ],
      "id": "1f384840-1d9c-49f6-9e50-23e2d09d05f3",
      "name": "Extract Track ID1"
    },
    {
      "parameters": {
        "chatId": "1226319359",
        "text": "=Adicionadas {{ $json.length }} tracks:\n\n{{ $json.data }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        160
      ],
      "id": "b4dad31f-0b5f-4c0a-a335-6a64d2a9e285",
      "name": "Send a text message",
      "webhookId": "31b36991-42f7-46a8-b3ec-5f3e9de2a92b",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "MCTqy8DF917cDCAV",
          "name": "Telegram n8n chatbot"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        288,
        1056
      ],
      "id": "1affe99b-c0e7-455e-b829-a4a9667994b9",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "chatId": "1226319359",
        "text": "=Removidas {{ $json.length }} tracks:\n\n{{ $json.data }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        1040
      ],
      "id": "35a8d55b-dbd4-407f-9873-84808d4b5fd0",
      "name": "Send a text message1",
      "webhookId": "30432e5e-9544-4dd0-adbc-53ff3c95c027",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "MCTqy8DF917cDCAV",
          "name": "Telegram n8n chatbot"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2544,
        544
      ],
      "id": "b5e2d887-c1dd-49b8-b85d-c1db1261b59a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "id",
        "options": {
          "disableDotNotation": true
        }
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        -560,
        480
      ],
      "id": "e6d3f955-9832-4ebc-a9e6-34e58c78dc8a",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -960,
        272
      ],
      "id": "fdec420e-612a-4133-aa09-1be7be95eee3",
      "name": "Merge"
    },
    {
      "parameters": {
        "resource": "playlist",
        "operation": "getTracks",
        "id": "={{ $json.id }}",
        "returnAll": true
      },
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        -1248,
        560
      ],
      "id": "b24699b0-92d5-4d49-b303-13176206e8e2",
      "name": "Get a playlist's tracks by URI or ID",
      "alwaysOutputData": true,
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "aBVcQt43eIWG3ux4",
          "name": "Spotify Opus dashboard"
        }
      }
    },
    {
      "parameters": {
        "resource": "library",
        "returnAll": true
      },
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        -1312,
        176
      ],
      "id": "3e94f537-38f2-4182-9935-c9120378047a",
      "name": "Get liked tracks1",
      "executeOnce": true,
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "aBVcQt43eIWG3ux4",
          "name": "Spotify Opus dashboard"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0fec9175-c997-4214-821e-94d840fd1547",
              "name": "track.id",
              "value": "={{ $json.track.uri }}",
              "type": "string"
            },
            {
              "id": "8781bc6e-b620-4fdb-986e-fd576b932d06",
              "name": "track.name",
              "value": "={{ $json.track.name }}",
              "type": "string"
            },
            {
              "id": "24fce01e-6ce8-499e-8844-5a77698eab20",
              "name": "track.album.name",
              "value": "={{ $json.track.album.name }}",
              "type": "string"
            },
            {
              "id": "1e957dc1-3bce-4fcd-a511-1a83d609d713",
              "name": "track.artists",
              "value": "={{ $json.track.artists }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1152,
        176
      ],
      "id": "7e999061-67ed-48c1-a89b-25d64264dd70",
      "name": "Extract Track ID2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        288,
        176
      ],
      "id": "0f9691ed-d794-48a2-b4e1-c968072d5910",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "94678f05-0f05-4e0a-9df6-2f5dfc6548b1",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "5fa3e940-eec1-44d1-bebb-c7f3dcbc415f",
              "leftValue": "={{ $json.id }}",
              "rightValue": "spotify:track:",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -400,
        480
      ],
      "id": "8b910ea7-9aec-47cf-b061-8f1d37ce405d",
      "name": "Filter"
    },
    {
      "parameters": {
        "content": "## Loop para extrair todas as músicas\nAqui as músicas das playlists do usuário são obtidas e unidas em uma grande lista",
        "height": 336,
        "width": 672
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1536,
        448
      ],
      "typeVersion": 1,
      "id": "f24295ca-b499-4a34-a1f8-7017f5f1db42",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Músicas curtidas\nTambém são adicionadas as músicas que o usuário adicionou como \"Curtidas\" (playlist especial)",
        "height": 336,
        "width": 592,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1392,
        64
      ],
      "typeVersion": 1,
      "id": "e7810291-0c82-4a17-9f83-849dcc381f7e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Extraindo as músicas que já estão na Roleta Russa\nEssa é a grande playlist com todas as músicas de todas as outras playlists",
        "height": 304,
        "width": 592,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1712,
        864
      ],
      "typeVersion": 1,
      "id": "f7710dc5-bd75-422e-abe8-c89f2e31983d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "### Remoção de valores duplicados/nulos",
        "height": 192,
        "width": 512,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -768,
        432
      ],
      "typeVersion": 1,
      "id": "cc1671d6-d1aa-44c5-8027-ddfb5a995443",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Adicionando músicas à Roleta Russa\nAqui estão as tracks que estão nas playlists de nicho, mas que não estão na Roleta Russa. As músicas são adicionadas uma por uma por limitações na API do Spotify (ocorre rate-limit quando tracks são adicionadas em batches)",
        "height": 528,
        "width": 560,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        0
      ],
      "typeVersion": 1,
      "id": "2f795018-8546-4867-b86b-a4fda98e094b",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Removendo músicas da Roleta Russa\nAqui estão as tracks que NÃO estão mais nas playlists de nicho, mas que ainda estão na Roleta Russa. Também removemos as tracks uma a uma",
        "height": 512,
        "width": 560,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        912
      ],
      "typeVersion": 1,
      "id": "449d0fd5-5f43-4133-b576-0d36095a9fbe",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "chatId": "1226319359",
        "text": "=*Spotify Sync*\n\nComeçando sincronização diária com a playlist:\n\n_Russian Roulette Revolution 🧶_",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2080,
        176
      ],
      "id": "385cafac-e505-40a1-ab6a-34ef7da2f5ec",
      "name": "Enviar mensagem de início de workflow",
      "webhookId": "6cf17ceb-fdca-451c-9395-1b0c23c81af3",
      "executeOnce": false,
      "credentials": {
        "telegramApi": {
          "id": "MCTqy8DF917cDCAV",
          "name": "Telegram n8n chatbot"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "1226319359",
        "message": "=Tem certeza de que deseja remover {{ $json.length }} tracks?\n\n{{ $json.data }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "✅ Sim",
            "disapproveLabel": "❌ Não"
          }
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        640
      ],
      "id": "20916753-71c9-473e-977a-7f0ad18674fa",
      "name": "Send message and wait for response",
      "webhookId": "cb1d6811-987d-42fc-9335-a087dad346e8",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "MCTqy8DF917cDCAV",
          "name": "Telegram n8n chatbot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e93cbde8-3de6-41ee-bbd9-bb1f945f7d84",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        832,
        640
      ],
      "id": "24335147-67d8-4d90-975e-6dbec70f2021",
      "name": "If",
      "executeOnce": true
    },
    {
      "parameters": {
        "chatId": "1226319359",
        "text": "=Removendo {{ $('Compare the two Datasets').all().length }} tracks",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1072,
        528
      ],
      "id": "8e112063-a3df-4314-81b3-1e78c0ef6dc7",
      "name": "Send a text message2",
      "webhookId": "31b36991-42f7-46a8-b3ec-5f3e9de2a92b",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "MCTqy8DF917cDCAV",
          "name": "Telegram n8n chatbot"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "Acho que eu não deveria apagar tantas tracks assim, da uma olhada no que aconteceu"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1072,
        736
      ],
      "id": "2e894507-3112-40cb-8fc2-1edd11e33f1e",
      "name": "Stop and Error",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "55de67dd-f148-4448-9721-b147e0f34d44",
              "name": "id",
              "value": "={{ $json.track.id }}",
              "type": "string"
            },
            {
              "id": "17699d97-515a-4578-893d-52e9ecbfb63b",
              "name": "name",
              "value": "={{ $json.track.name }}",
              "type": "string"
            },
            {
              "id": "46ffb969-063e-4cb1-856c-af2eadb38109",
              "name": "album",
              "value": "={{ $json.track.album.name }}",
              "type": "string"
            },
            {
              "id": "8e02e00d-f96d-400c-a605-19e7710f553c",
              "name": "artists",
              "value": "={{ $json.track.artists }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -720,
        480
      ],
      "id": "53ff1942-74d8-4eb9-9b30-cdaeca0602ba",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "playlist",
        "id": "2PNnDnyjkpFMCqW7qelgGz",
        "trackID": "={{ $json.id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        464,
        320
      ],
      "id": "f3f8e110-1994-497f-8791-ef691de756c1",
      "name": "Add track to Roleta Russa",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "aBVcQt43eIWG3ux4",
          "name": "Spotify Opus dashboard"
        }
      }
    },
    {
      "parameters": {
        "resource": "playlist",
        "operation": "delete",
        "id": "2PNnDnyjkpFMCqW7qelgGz",
        "trackID": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        464,
        1200
      ],
      "id": "c81e0bac-5153-48d7-90b6-2ee1d59d1ca1",
      "name": "Remove track to Roleta Russa",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "aBVcQt43eIWG3ux4",
          "name": "Spotify Opus dashboard"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const nameArray = [];\n\n// Assuming 'items' contains your data\nfor (const item of $('Compare the two Datasets').all()) {\n  if (item.json && item.json.name) {\n    nameArray.push(item.json.name);\n  }\n}\n\nnameArray.sort();\n\n// Join the array into a single string with desired separator\nreturn {\n  data: nameArray.join('\\n'),\n  length: nameArray.length,\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        160
      ],
      "id": "b206ab78-1f68-4e3d-9ad6-1a6b3c097cb2",
      "name": "List track names"
    },
    {
      "parameters": {
        "jsCode": "const nameArray = [];\n\n// Assuming 'items' contains your data\nfor (const item of $('Compare the two Datasets').all()) {\n  if (item.json && item.json.name) {\n    nameArray.push(item.json.name);\n  }\n}\n\nnameArray.sort();\n\n// Join the array into a single string with desired separator\nreturn {\n  data: nameArray.join('\\n'),\n  length: nameArray.length,\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        1040
      ],
      "id": "eb1c99c8-e3eb-4a28-b4e6-2c4299e635a5",
      "name": "List track names1"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "id",
        "options": {
          "disableDotNotation": true
        }
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        -1248,
        976
      ],
      "id": "b78ee82a-0c62-4abc-ba0e-c97b4d6c7b5a",
      "name": "Remove Duplicates1"
    },
    {
      "parameters": {
        "jsCode": "const nameArray = [];\n\n// Assuming 'items' contains your data\nfor (const item of $('Compare the two Datasets').all()) {\n  if (item.json && item.json.name) {\n    nameArray.push(item.json.name);\n  }\n}\n\nnameArray.sort();\n\n// Join the array into a single string with desired separator\nreturn {\n  data: nameArray.join('\\n'),\n  length: nameArray.length,\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        640
      ],
      "id": "80a5fe51-4adf-42d2-b330-e28f96cd09b8",
      "name": "List track names2"
    }
  ],
  "pinData": {},
  "connections": {
    "Compare the two Datasets": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [
          {
            "node": "List track names2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a user's playlists": {
      "main": [
        [
          {
            "node": "Extract user owned playlists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract user owned playlists": {
      "main": [
        [
          {
            "node": "Fetch only user-as-owner playlists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch only user-as-owner playlists": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Roleta Russa playlist's tracks by URI or ID": {
      "main": [
        [
          {
            "node": "Extract Track ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Get liked tracks1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Get a playlist's tracks by URI or ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Track ID": {
      "main": [
        [
          {
            "node": "Remove Duplicates1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Track ID1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "List track names1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Remove track to Roleta Russa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Enviar mensagem de início de workflow",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get a user's playlists",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Roleta Russa playlist's tracks by URI or ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a playlist's tracks by URI or ID": {
      "main": [
        [
          {
            "node": "Extract Track ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get liked tracks1": {
      "main": [
        [
          {
            "node": "Extract Track ID2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Track ID2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "List track names",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add track to Roleta Russa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Compare the two Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add track to Roleta Russa": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove track to Roleta Russa": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List track names": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List track names1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates1": {
      "main": [
        [
          {
            "node": "Compare the two Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "List track names2": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2481a08f-e9b4-4b0f-9643-5e706fc2f73b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "149e441531d53dd6afec8387bdebe91fbf5209e6865bb20f7cb8ec214b8f7080"
  },
  "id": "VV4xRmpRAqFaV8t4",
  "tags": []
}